<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Register</title>

    <!-- Bootstrap core CSS-->
    <link href="{{ url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="{{ url_for('static', filename='all.min.css')}}" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="{{ url_for('static', filename='sb-admin.css')}}" rel="stylesheet">

  </head>

  <body class="bg-dark">

    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}


    <div class="container">
      <div class="card card-register mx-auto mt-5">
        <div class="card-header">Register a Nurse</div>
        <div class="card-body">
            <form method="post">
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <div class="form-label-group">
                    <input type="text" id="first_name" class="form-control" placeholder="First name" required="required" autofocus="autofocus" name="first_name">
                    <label for="first_name">First name</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-label-group">
                    <input type="text" id="last_name" class="form-control" placeholder="Last name" required="required" name="last_name">
                    <label for="last_name">Last name</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-label-group">
                <input type="email" id="email" class="form-control" placeholder="Email address" required="required" name="email">
                <label for="email">Email address</label>
              </div>
            </div>
            <div class="form-group">
              <div class="form-label-group">
                <input type="text" id="phone_number" pattern="(0|\\+33|0033)[1-9][0-9]{8}" class="form-control" placeholder="Phone number" required="required" name="phone_number">
                <label for="phone_number">Phone Number</label>
              </div>
            </div>
            <div class="form-group">
              <div class="form-label-group">
                <input type="password" id="password" class="form-control" placeholder="Password" required="required" name="password">
                <label for="password">Password</label>
              </div>
            </div>
            <div class="form-group">
              <div class="form-label-group">
                <input type="office" id="office" class="form-control" placeholder="Office" required="required" name="office">
                <label for="office">Office</label>
              </div>
            </div>
            <div class="form-group">
              <div class="form-label-group">
                <input type="address" id="address" class="form-control" placeholder="Postal Address" required="required" name="address">
                <label for="address">Postal address</label>
              </div>
            </div>
            <button class="btn btn-primary btn-block" type="submit">Register</button>
          </form>
          <div class="text-center">
            <a class="d-block small mt-3" href="login.html">Login Page</a>
            <a class="d-block small" href="forgot-password.html">Forgot Password?</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  </body>

</html>
