<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Register</title>

    <!-- Bootstrap core CSS-->
    <link href="{{ url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="{{ url_for('static', filename='all.min.css')}}" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="{{ url_for('static', filename='sb-admin.css')}}" rel="stylesheet">

  </head>

  <body class="bg-dark">

    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}


    <div class="container">

      <div class="card card-register mx-auto mt-5">
        <div class="card-header">Add an appointment</div>
        <div class="card-body">
            <form method="post">


            <div class="form-group">

                <select id="inputpatient" class="form-control" placeholder="patient" required="required" name="patient" value="{{research}}">
                  <option>Choose Patient</option>
                  {% for patient in patients %}
                  {% if patient.last_name + ' - ' + patient.first_name == research %}
                  <option selected>
                  {{research}}
                  </option>
                  {% else %}
                  <option>
                  {{patient.last_name}} - {{patient.first_name}}
                  </option>
                  {% endif %}
                  {% endfor %}
                </select>
            </div>



            <div class="form-group">

                <select id="inputcare" class="form-control" placeholder="care" required="required" name="care" value="{{care_research}}">
                  <option>Select care</option>

                  {% for care in cares %}
                  {% if care.description == care_research %}
                  <option selected>
                  {{ care.description }}
                  </option>
                  {% else %}
                  <option>
                  {{ care.description }}
                  </option>
                  {% endif %}
                  {% endfor %}
                </select>
            </div>
            <div class="form-group">
              <div class="form-label-group">
                <input type="date" id="date" class="form-control" placeholder="date" required="required" name="date" value="{{time}}">
                <label for="date">Date</label>
              </div>
            </div>
                <div class="form-group">

                <select id="inputhalfday" class="form-control" required="required" name="halfday" value="{{halfday}}">
                  <option>Choose halfday</option>

                  {% for i in ['morning', 'afternoon'] %}
                  {% if i==halfday %}
                  <option selected>
                  {{i}}
                  </option>
                  {% else %}
                  <option>
                  {{i}}
                  </option>
                  {% endif %}
                  {% endfor %}
                </select>
            </div>


            <button class="btn btn-primary btn-block" type="submit">Add Appointment</button>
          </form>

        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->


  </body>

</html>
