{% extends 'base_template.html' %}
{% block content %}

<div class="container-fluid">

    <!-- Page Content -->

  <div class="card-body">
  <div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
      <div class="card-header">
        <h1>Appointments </h1>
        <div class='flex-row'>
            <div class="d-flex justify-content-between">
                <form method="post">
                <div class="form-group">
                    <select id="input_patient" class="form-control" required="required" name="input_patient">
                      <option value="" selected>Choose Patient</option>
                      {% for patient in patients %}
                      <option value="{{patient.id}}">
                      {{patient.last_name}} - {{patient.first_name}}
                      </option>
                      {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <select id="input_care" class="form-control" required="required" name="input_care">
                      <option value="" selected>Choose Care</option>
                      {% for care in cares %}
                      <option value="{{care.id}}">
                      {{care.description}}
                      </option>
                      {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                  <input type="date" id="date" class="form-control" required="required" name="date">
                </div>
                <div>
                    <button class="btn btn-secondary btn-md" type="submit">Search availabilities</button>
                </div>
                </form>

              </div>

        </div>
      </div>


    </table>
  </div>
  </div>


</div>

{% endblock%}
