{% extends 'base_template.html' %}
{% block content %}

<div class="container-fluid">

    <!-- Page Content -->
    <h1>Appointments</h1>
    <hr>
    {% for appointment in appointments %}
    <!--TODO-->
      <p>Patient Name: {{ appointment.patient.first_name }} {{ appointment.patient.last_name }}</p>
      <p>Nurse  Name: {{ appointment.nurse.first_name }} {{ appointment.nurse.last_name }}</p>
      <p>Date: {{ appointment.date }}</p>
      <p>Care: {{ appointment.care.description }}</p>
      <hr>
    {% endfor %}
</div>

{% endblock%}