{% extends 'base_template.html' %}
{% block content %}

<div class="container-fluid">

    <div class="card" style="margin-bottom:30px;">
        <div class="card-header">
            <h1>Search another appointment </h1>
        </div>
        <div class="card-body">

            <form method="post">
                <div class="row">
                    <div class="col">
                        <input id="patient_appointments_research" class="form-control"
                               placeholder="Search (patient first-name then last-name)" required="required"
                               name="patient_appointments_research">
                    </div>
                    <div class="col">
                        <button class="btn btn-info" type="submit">Search appointments</button>
                    </div>
                </div>
            </form>

        </div>
    </div>

    {% if appointments[0] %}
    <div class="table-responsive">
        <table class="table table-bordered" width="100%" cellspacing="0">
            <thead>
            <tr style="vertical-align:middle; text-align:center;" class="table-secondary">
                <th scope="col" style="border:1px solid black;">Last Name
                </th>
                <th scope="col" style="border:1px solid black;">First Name
                </th>
                <th scope="col" style="border:1px solid black;">Email
                </th>
                <th scope="col" style="border:1px solid black;">Address
                </th>
                <th scope="col" style="border:1px solid black;">Care
                </th>
                <th scope="col" style="border:1px solid black;">Date
                </th>
                <th scope="col" style="border:1px solid black;">Halfday
                </th>
            </tr>
            </thead>


            <tbody style="font-weight:bold; text-align:center; vertical-align:middle;">
            <tr>
                {% for appointment in appointments %}
                <td width="20%" style="font-size:14px; border:1px solid black;">
                    {{appointment.patient.last_name}}
                </td>
                <td width="10%" style="font-size:14px; border:1px solid black;">
                    {{appointment.patient.first_name}}
                </td>
                <td width="15%" style="font-size:14px; border:1px solid black;">
                    {{appointment.patient.email}}
                </td>
                <td width="35%" style="font-size:14px; border:1px solid black;">
                    {{appointment.patient.address}}
                </td>
                <td width="10%" style="font-size:14px; border:1px solid black;">
                    {{appointment.care.description}}
                </td>
                <td width="10%" style="font-size:14px; border:1px solid black;">
                    {{appointment.date.strftime("%d/%m/%y")}}
                </td>
                <td width="10%" style="font-size:14px; border:1px solid black;">
                    {{appointment.halfday}}
                </td>
                {% endfor %}
            </tr>

            </tbody>

        </table>
    </div>

    {% else %}

    <p style="font-size:15px; font-weight: bold; color:#FF124F; text-align:center;"> No appointments found for
        this research ! Please, enter a request respecting this format : first-name and then last-name.</p>

    {% endif %}

</div>
{% endblock %}