<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Nursissimo website</title>

    <!-- Bootstrap core CSS-->
    <link href="{{ url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="{{ url_for('static', filename='all.min.css')}}" rel="stylesheet" type="text/css">


    <!-- Custom styles for this template-->
    <link href="{{ url_for('static', filename='sb-admin.css')}}" rel="stylesheet">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.6.3/css/all.css'
          integrity='sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/' crossorigin='anonymous'>


</head>

<body id="page-top">

<nav class="navbar navbar-expand navbar-dark static-top" style="background-color: #31394d;">
    <div class="container-fluid">
        <div class="navbar-header">
            <img src="{{ url_for('static', filename='nurse_logo.png') }}"
                 style="width:60px;margin-right:5px; vertical-align:middle;">
            <a class="navbar-brand mr-1" href="{{ url_for('planning.home') }}"
               style="color:#b0e0e6; font-size:30px; vertical-align:middle; font-family:Impact;">Nursissimo </a>
        </div>
        {% if session['office_id'] %}
        <ul class="nav navbar-nav navbar-right">
            <li style="color:#b0e0e6; margin-right:15px; font-style:italic;">{{session['office_name'].capitalize()}}<i
                    style="color:#FFFFFF; margin-left:8px;" class="fa fa-user"></i></li>
            <li><a style="color:#b0e0e6; margin-right:5px; font-style:italic;" href="{{ url_for('auth.logout') }}">Log Out </a> <i
                    style="color:#FFFFFF; margin-right:5px;" class="fa fa-sign-out-alt"></i></li>
        </ul>
        {% elif session['nurse_id'] %}
        <ul class="nav navbar-nav navbar-right">
            <li style="color:#B1F5FF; margin-right:15px; font-style:italic;">{{session['nurse_first_name']}}
                {{session['nurse_last_name'].capitalize()}}<i style="color:#FFFFFF; margin-left:8px;"
                                                              class="fa fa-user"></i></li>
            <li><a style="color:#B1F5FF; margin-right:5px; font-style:italic;" href="{{ url_for('auth.logout') }}">Log Out </a> <i
                    style="color:#FFFFFF; margin-right:5px;" class="fa fa-sign-out-alt"></i></li>
        </ul>
        {% endif %}
    </div>
</nav>

<div id="wrapper">

    <!-- Sidebar -->
    <ul class="sidebar navbar-nav" , id="myDIV" style="background-color: #41495d;">
        <li class="nav-item active" id="planning">
            <a class="nav-link" href="{{url_for('planning.home')}}" id="planning_link">
                <i class="far fa-calendar-alt"></i>
                <span>Planning</span>
            </a>
        </li>
        {% if session['office_id'] %}
        <li class="nav-item" id="patients">
            <a class="nav-link" href="{{url_for('patients.home')}}" id="patients_link">
                <i class="fas fa-users"></i>
                <span>Patients</span></a>
        </li>
        <li class="nav-item" id="nurses">
            <a class="nav-link" href="{{url_for('nurses.home')}}" id="patients_link">
                <i class="fas fa-user-md"></i>
                <span>Nurses</span></a>
        </li>
        <li class="nav-item" id="appointments">
            <a class="nav-link" href="{{url_for('appointments.home')}}" id="appointments_link">
                <i class="fas fa-address-card"></i>
                <span>Appointments</span></a>
        </li>
        {% endif %}
        <li class="nav-item" id="account">
            <a class="nav-link" href="{{url_for('account.home')}}" id="account_link">
                <i class="fas fa-user-cog"></i>
                <span>My Account</span></a>
        </li>
        <li class="nav-item" id="database">
            <a href="{{ url_for('planning.reinit_db')}}" class="btn btn-secondary btn-sm active"
               role="button"> Reinitialise database </a>
        </li>
        <li class="nav-item" id="schedules">
            <a href="{{ url_for('planning.delete_schedules')}}" class="btn btn-secondary btn-sm active"
               role="button"> Delete schedules </a>
        </li>

    </ul>

    <div id="content-wrapper">
        {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
        {% endfor %}

        {% block content %}{% endblock %}
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright © CentraleSupélec 2018-2019</span>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>

<script>

    var ref = window.location.href
    if (ref.includes('appointments')) {
        var current = document.getElementsByClassName("active");
        current[0].className = current[0].className.replace(" active", "");
        var right = document.getElementById('appointments');
        right.className += " active";
    }
    else if (ref.includes('patients')) {
        var current = document.getElementsByClassName("active");
        current[0].className = current[0].className.replace(" active", "");
        var right = document.getElementById('patients');
        right.className += " active";
    }
    else if (ref.includes('nurses')) {
        var current = document.getElementsByClassName("active");
        current[0].className = current[0].className.replace(" active", "");
        var right = document.getElementById('nurses');
        right.className += " active";
    }
    else if (ref.includes('planning')) {
        var current = document.getElementsByClassName("active");
        current[0].className = current[0].className.replace(" active", "");
        var right = document.getElementById('planning');
        right.className += " active";
    }
    else if (ref.includes('account')) {
        var current = document.getElementsByClassName("active");
        current[0].className = current[0].className.replace(" active", "");
        var right = document.getElementById('account');
        right.className += " active";
    }
    else {
        var current = document.getElementsByClassName("active");
        current[0].className = current[0].className.replace(" active", "");
        var right = document.getElementById('planning');
        right.className += " active";
    }


</script>
