<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Nursissimo website</title>

    <!-- Bootstrap core CSS-->
    <link href="{{ url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="{{ url_for('static', filename='all.min.css')}}" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="{{ url_for('static', filename='sb-admin.css')}}" rel="stylesheet">

  </head>

  <body class="bg-dark">

  {% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div>
  {% endfor %}

    <div class="container">
      <div class="card card-register mx-auto mt-5">
        <div class="card-header">Edit Patient</div>
        <div class="card-body">
            <form method="post">
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <div class="form-label-group">
                    <input type="text" id="first_name" class="form-control" placeholder="{{patient.first_name}}" required="required" autofocus="autofocus" name="first_name" value="{{patient.first_name}}" >
                    <label for="first_name">First Name</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-label-group">
                    <input type="text" id="last_name" class="form-control" placeholder="{{patient.last_name}}" required="required" name="last_name" value="{{patient.last_name}}">
                    <label for="last_name">Last Name</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-label-group">
                <input type="email" id="email" class="form-control" placeholder="{{patient.email}}" required="required" name="email" value="{{patient.email}}" readonly>
                <label for="email">Email</label>
              </div>
            </div>
            <div class="form-group">
              <div class="form-label-group">
                <input type="text" id="phone_number" class="form-control" pattern="(0|\\+33|0033)[1-9][0-9]{8}" required="required" name="phone_number" value="{{patient.phone}}">
                <label for="phone_number">Phone Number</label>
              </div>
            </div>
            <div class="form-group">
              <div class="form-label-group">
                <input type="text" id="address" class="form-control" placeholder="{{patient.address}}" required="required" name="address" value="{{patient.address}}">
                <label for="address">Postal Address</label>
              </div>
            </div>
            <div class="form-group">
              <div class="form-label-group">
                <input type="text" id="digicode" class="form-control" value="{{patient.digicode}}" name="digicode">
                <label for="digicode">Digicode</label>
              </div>
            </div>
            <div class="form-group">
             <div class="form-label-group">
              <input type="text" id="additional_postal_information" class="form-control" value="{{patient.additional_postal_information}}" name="additional_postal_information">
              <label for="additional_postal_information">Additional postal information : floor, door...</label>
              </div>
            </div>
            <div id="map"></div>
            <button class="btn btn-primary btn-block" type="submit">Save changes</button>
          </form>

        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <script>
      function initMap() {

        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 48.866667, lng: 2.333333},
          zoom: 13
        });

        var input = document.getElementById('address');
        var autocomplete = new google.maps.places.Autocomplete(input);

        autocomplete.bindTo('bounds', map);
        autocomplete.setFields(['address_components', 'geometry', 'icon', 'name']);

        autocomplete.addListener('place_changed', function() {

          var place = autocomplete.getPlace();
          if (!place.geometry) {
            window.alert("No details available for input: '" + place.name + "'");
            return;
          }

          if (place.geometry.viewport) {
            map.fitBounds(place.geometry.viewport);
          } else {
            map.setCenter(place.geometry.location);
            map.setZoom(17);
          }

          var address = '';
          if (place.address_components) {
            address = [
              (place.address_components[0] && place.address_components[0].short_name || ''),
              (place.address_components[1] && place.address_components[1].short_name || ''),
              (place.address_components[2] && place.address_components[2].short_name || '')
            ].join(' ');
          }
        });

      autocomplete.setTypes([])
      }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAoozmkZ8_YSofc8Hb7nqnG3cWcJSlY6gQ&libraries=places&callback=initMap"
            async defer></script>

  </body>

</html>
