<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Register</title>

    <!-- Bootstrap core CSS-->
    <link href="{{ url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="{{ url_for('static', filename='all.min.css')}}" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="{{ url_for('static', filename='sb-admin.css')}}" rel="stylesheet">

  </head>

  <body class="bg-dark">

  {% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div>
  {% endfor %}

    <div class="container">
      <div class="card card-register mx-auto mt-5">
        <div class="card-header">Edit Nurse</div>
        <div class="card-body">
            <form method="post">
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <div class="form-label-group">
                    <input type="text" id="first_name" class="form-control" placeholder="{{nurse.first_name}}" required="required" autofocus="autofocus" name="first_name" value="{{nurse.first_name}}" >
                    <label for="first_name">First Name</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-label-group">
                    <input type="text" id="last_name" class="form-control" placeholder="{{nurse.last_name}}" required="required" name="last_name" value="{{nurse.last_name}}">
                    <label for="last_name">Last Name</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-label-group">
                <input type="email" id="email" class="form-control" placeholder="{{nurse.email}}" required="required" name="email" value="{{nurse.email}}">
                <label for="email">Email</label>
              </div>
            </div>
            <div class="form-group">
              <div class="form-label-group">
                <input type="text" id="phone" class="form-control" placeholder="{{nurse.phone}}" required="required" name="phone" value="{{nurse.phone}}">
                <label for="phone">Phone</label>
              </div>
            </div>
            <div class="form-group">
              <div class="form-label-group">
                <input type="address" id="address" class="form-control" placeholder="{{nurse.address}}" required="required" name="address" value="{{nurse.address}}">
                <label for="address">Address</label>
              </div>
            </div>
            <div class="form-group">
              <div class="form-label-group">
                <input type="address" id="password" class="form-control" placeholder="{{nurse.password}}"  name="password">
                <label for="password">Password</label>
              </div>
            </div>
            <button class="btn btn-primary btn-block" type="submit">Edit</button>
          </form>

        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  </body>

</html>
