{% extends 'base_template.html' %}
{% block content %}

  <form method="post">
    <button type="submit">Reinitialise database</button>
  </form>

<div class="card-body">
<div class="table-responsive">
  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <div class="card-header">
      <h1>Planning from
        {{start_week}}
        to
        {{end_week}}
      </h1>
      <div class='flex-row'>
        <div class="d-flex justify-content-between">
          <a href="{{url_for('planning.home')}}"  class="btn btn-secondary btn-sm active"
            >Previous Week</a>
          <a href="{{ url_for('planning.home')}}" class="btn btn-secondary btn-sm active"
            >Next Week</a>
        </div>
      </div>
    </div>

    <thead>
      <tr>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Sunday</th>
      </tr>
    </thead>

    <tbody>
      <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>
</div>




{% endblock %}