{% extends 'base_template.html' %}
{% block content %}


<a href="{{ url_for('planning.reinit_db')}}" class="btn btn-secondary btn-sm active"
  role="button"> Reinitialise database </a>


<div class="card-body">
<div class="table-responsive">
  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <div class="card-header">
      <h1>Planning from
        {{start_week}}
        to
        {{end_week}}
      </h1>
      <div class='flex-row'>
        <div class="d-flex justify-content-between">
          <form>
            <div class="form-group">
                <select id="inputnurse" class="form-control" placeholder="nurse" required="required" name="nurse_research" onchange="this.form.submit()" value="{{nurse_research}}" >
                  <option>Choose Nurse</option>
                  {% for nurse in nurses %}
                  {% if nurse.last_name + ' - ' + nurse.first_name == nurse_research %}
                  <option selected>
                  {{nurse_research}}
                  </option>
                  {% else %}
                  <option>
                  {{nurse.last_name}} - {{nurse.first_name}}
                  </option>
                  {% endif %}
                  {% endfor %}
                </select>
            </div>
            <div class="form-group">
              <input type="date" id="date" class="form-control" placeholder="date" required="required" name="date" onchange="this.form.submit()" value="{{time}}" >
            </div>
          </form>
        </div>



      </div>
    </div>

    <thead>
      <tr>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Sunday</th>
      </tr>
    </thead>

    <tbody>
      <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>
</div>




{% endblock %}
