<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Login</title>

    <!-- Bootstrap core CSS-->
    <link href="{{ url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="{{ url_for('static', filename='all.min.css')}}" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="{{ url_for('static', filename='sb-admin.css')}}" rel="stylesheet">

  </head>

  <body class="bg-dark">

  {% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div>
  {% endfor %}

    <div class="container">
      <div class="card card-login mx-auto mt-5">
        <div class="card-header">This content is only accesible as administrator ! </div>
        <div class="card-body">
          <form method="post">
            <a href="{{'auth.login'}}" class="btn btn-primary btn-block" role="button"> Login as administrator </a>
            <a href="{{'planning.home'}}" class="btn btn-primary btn-block" role="button"> Back to home page </a>

          </form>

        </div>
      </div>
    </div>


  </body>

</html>
