{% extends 'base_template.html' %}
{% block content %}

<div class="container-fluid">

    <!-- Page Content -->

  <div class="row">

      <div class="col-md-4 col-md-offset-3">
          <form method='post' class="search-form">
              <div class="form-group has-feedback">
              <label for="search" class="sr-only">Search Nurse Name</label>
              <input type="text" class="form-control" name="research" id="search" placeholder="search">
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
          </form>
      </div>
      <div class="col-lg-8 col-lg-8">
        <a href="{{ url_for('nurses.add_nurse')}}" class="btn btn-secondary btn-md active"
          role="button">Add Nurse</a>
      </div>
    </div>




  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

        <div class="card-header">
          <div class="row">
            <h1> Nurses </h1>
        </div>
        </div>

        <thead>

          <tr>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Handled cares</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Address</th>
            <th>Office</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>

        <tbody>
          {% for nurse in nurses %}

            <tr>
              <td>{{ nurse.last_name }}</td>
              <td> {{ nurse.first_name }}</td>
              <td> {{ nurse.cares }}</td>
              <td> {{ nurse.email }}</td>
              <td> {{ nurse.phone }}</td>
              <td> {{ nurse.address }}</td>
              <td> {{ nurse.office }}</td>
              <td> <a href="{{ url_for('nurses.edit_nurse',nurse_id=nurse.id)}}" class="btn btn-secondary btn-sm active"
                role="button">Edit</a>
              </td>
              <td> <a href="{{ url_for('nurses.delete_nurse',nurse_id=nurse.id)}}" class="btn btn-secondary btn-sm active"
                role="button">Delete</a>
              </td>
            <tr>


          {% endfor %}


        </tbody>
      </table>
    </div>
  </div>


</div>
{% endblock %}
