{% extends 'base_template.html' %}
{% block content %}

<div class="container-fluid">

    <!-- Page Content -->
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                <div class="card-header">
                    <div class="row">
                        <h1> {{nurse.first_name}} {{nurse.last_name}} </h1>
                    </div>
                </div>

                <thead>

                <tr>
                    <th>Last Name</th>
                    <th>First Name</th>
                    <th>Handled cares</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Address</th>
                    <th>Office</th>
                    <th>Edit</th>
                    <th>Add vacation</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>{{ nurse.last_name }}</td>
                    <td>{{ nurse.first_name }}</td>
                    <td>
                        {% for care in cares %}
                        {% if "-{}-".format(care.id) in nurse.cares %}
                        - {{ care.description }} <br>
                        {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ nurse.email }}</td>
                    <td>{{ nurse.phone }}</td>
                    <td>{{ nurse.address }}</td>
                    <td>{{ nurse.office.name }}</td>
                    <td><a href="{{ url_for('account.edit_nurse_account',nurse_id=nurse.id)}}"
                           class="btn btn-secondary btn-sm active"
                           role="button">Edit</a>
                    </td>
                    <td><a href="{{ url_for('account.add_absence')}}" class="btn btn-secondary btn-sm active"
                           role="button">Add vacation</a>
                    </td>
                <tr>

            </table>

            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                <div class="card-header">
                    <div class="row">
                        <h1> My absences </h1>
                    </div>
                </div>

                <thead>

                <tr>
                    <th>Date</th>
                    <th>Halfday</th>
                    <th>Delete</th>
                </tr>
                </thead>

                <tbody>
                {% for absence in absences %}

                <tr>
                    <td>{{ absence.date }}</td>
                    <td>{{ absence.halfday }}</td>
                    <td><a href="{{ url_for('account.delete_absence',absence_id=absence.id)}}"
                           class="btn btn-secondary btn-sm active"
                           role="button">Delete</a>
                    </td>
                <tr>

                    {% endfor %}


                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
