{% extends 'base_template.html' %}
{% block content %}

<div class="container-fluid">

  <div class="row">

      <div class="col-md-4 col-md-offset-3">
          <form method='post' class="search-form">
              <div class="form-group has-feedback">
              <label for="search" class="sr-only">Search Patient Name</label>
              <input type="text" class="form-control" name="research" id="search" placeholder="search">
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
          </form>
      </div>
    </div>

<div class="card-body">
<div class="table-responsive">
  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <div class="card-header">
      <h1>Patients</h1>
    </div>

    <thead>
      <tr>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Adress</th>
        <th>ID</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for patient in patients %}
      <tr>
        <td>{{ patient.last_name }}</td>
        <td> {{ patient.first_name }}</td>
        <td> {{ patient.email }}</td>
        <td> {{ patient.phone }}</td>
        <td> {{ patient.address }}</td>
        <td> {{ patient.id }}</td>

        <td> <a href="{{ url_for('patients.edit_patient',patient_id=patient.id)}}" class="btn btn-secondary btn-sm active"
          role="button">Edit</a>
        </td>
      <tr>
      {% endfor %}


    </tbody>
  </table>
</div>
</div>
</div>
{% endblock %}