{% extends 'base_template.html' %}
{% block content %}


<a href="{{ url_for('planning.reinit_db')}}" class="btn btn-secondary btn-sm active"
  role="button"> Reinitialise database </a>

<div class="card-body">
<div class="table-responsive">
  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <div class="card-header">
      <h1>Planning </h1>
      <div class='flex-row'>
        <div class="d-flex justify-content-between">
          <form method="post">
            <div class="form-group">
                <select id="input_nurse" class="form-control" required="required" name="input_nurse">
                  <option value="">Choose Nurse</option>
                  {% for nurse in nurses %}
                  <option value="{{nurse.id}}">
                  {{nurse.last_name}} - {{nurse.first_name}}
                  </option>
                  {% endfor %}
                </select>
            </div>
            <div class="form-group">
              <input type="date" id="date" class="form-control" required="required" name="date">
            </div>
            <div class="form-group">
                <select id="halfday" class="form-control" required="required" name="halfday">
                  <option value="" selected>Choose Halfday</option>
                  <option value="Morning"> Morning </option>
                  <option value="Afternoon"> Afternoon </option>
                </select>
            </div>
            <div>
                <button class="btn btn-primary btn-block" type="submit">View planning</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </table>
</div>
</div>


{% endblock %}
