{% extends 'base_template.html' %}
{% block content %}

<div class="card-header" style="margin-bottom:30px;">
    {% if session['nurse_id'] %}
    <h3> Your planning on {{date.strftime("%d/%m/%y")}} in the {{halfday}} </h3>
    {% else %}
    <h3> {{nurse.first_name.capitalize()}} {{nurse.last_name}}'s planning on {{date.strftime("%d/%m/%y")}} in
        the
        {{halfday}} </h3>
    {% endif %}
</div>

<div style="font-size:18px; font-weight: bold; color:#0F94FF; text-align:center; margin-bottom:2%;">
   Please click on one of the blue buttons to see how to go to the appointment from the previous appointment.
</div>

<div style="float:left; width:57%; vertical-align:middle; margin-left:2%; margin-right:2%;">
    {% if schedules[1] %}
    <div class="table-responsive" style="border-radius:10px;">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
            <tr style="text-align:center; font-size:14px;" class="table-secondary">
                <th scope="col" style="vertical-align:middle;">RDV
                </th>
                <th scope="col" style="vertical-align:middle;">Last Name
                </th>
                <th scope="col" style="vertical-align:middle;">First Name
                </th>
                <th scope="col" style="vertical-align:middle;">Phone
                </th>
                <th scope="col" style="vertical-align:middle;">Address
                </th>
                <th scope="col" style="vertical-align:middle;">Digicode
                </th>
                <th scope="col" style="vertical-align:middle;">Other information
                </th>
                <th scope="col" style="vertical-align:middle;">Care
                </th>
                <th scope="col" style="vertical-align:middle;">Hour
                </th>
            </tr>
            </thead>


            <tbody style="text-align:center;">
            <tr>
                <td width=5% style="font-size:12px; vertical-align:middle;">
                    <a onclick="initMap()" href="#office" class="btn btn-primary"> Your office </a>
                </td>
                <td width=10% style="font-size:12px; vertical-align:middle;">
                    {{schedules[0].name}}
                </td>
                <td width=10% style="font-size:12px; vertical-align:middle;">
                    ---
                </td>
                <td width=10% style="font-size:12px; vertical-align:middle;">
                    {{schedules[0].phone}}
                </td>
                <td width=40% style="font-size:12px; vertical-align:middle;">
                    {{schedules[0].address}}
                </td>
                <td width=5% style="font-size:12px; vertical-align:middle;">
                    ---
                </td>
                <td width=5% style="font-size:12px; vertical-align:middle;">
                    ---
                </td>
                <td width=10% style="font-size:12px; vertical-align:middle;">
                    ---
                </td>
                <td width=5% style="font-size:12px; vertical-align:middle;">
                    8h
                </td>
            </tr>
            {% for i in range(1, nb_schedules) %}
            <tr>
                <td width=5%
                    style="font-size:12px; vertical-align:middle;">
                    <a onclick="drawMap('{{schedules[i-1].latitude}}', '{{schedules[i-1].longitude}}',
                      '{{schedules[i].latitude}}', '{{schedules[i].longitude}}')" href="#{{i-1}}->{{i}}" class="btn btn-primary">RDV
                        {{i}}</a>
                </td>
                <td width=10% style="font-size:12px; vertical-align:middle;">
                    {{schedules[i].last_name}}
                </td>
                <td width=10% style="font-size:12px; vertical-align:middle;">
                    {{schedules[i].first_name}}
                </td>
                <td width=10% style="font-size:12px; vertical-align:middle;">
                    {{schedules[i].phone}}
                </td>
                <td width=40% style="font-size:12px; vertical-align:middle;">
                    {{schedules[i].address}}
                </td>
                <td width=5% style="font-size:12px; vertical-align:middle;">
                    {{schedules[i].digicode}}
                </td>
                <td width=5% style="font-size:12px; vertical-align:middle;">
                    {{schedules[i].additional_postal_information}}
                </td>
                <td width=10% style="font-size:12px; vertical-align:middle;">
                    Care
                </td>
                <td width=5% style="font-size:12px; vertical-align:middle;">
                    Hour
                </td>
            </tr>
            {% endfor %}

            </tbody>

        </table>
    </div>
    {% else %}
    <p style="font-size:15px; font-weight: bold; color:#FF124F; text-align:center;"> No appointments are planned for
        the moment ! <br>
        Please come back to see your schedule 24 hours before the day you are interested in.</p>

    {% endif %}


</div>

<div id="map" style="height:80%; width:37%; float:right; margin-left:0%; margin-right:2%; vertical-align:middle;"></div>

<script>

var office_lat = {{nurse.office.latitude}};
var office_lng = {{nurse.office.longitude}};

function initMap(lat=office_lat, lng=office_lng){
    var office = {'lat': lat , 'lng': lng};
    var map = new google.maps.Map(document.getElementById('map'), {zoom: 12, center: office});
    var marker = new google.maps.Marker({position: office, map: map, label: {text: 'Your office', fontSize:"18px",fontWeight:"bold", color:'black'}});
    var directionsDisplay = new google.maps.DirectionsRenderer();
    directionsDisplay.setMap(map);
};

function drawMap(lat_depart, lng_depart, lat_arrival, lng_arrival, travel_mode='DRIVING') {
    lat_depart = parseFloat(lat_depart);
    lng_depart = parseFloat(lng_depart);
    lat_arrival = parseFloat(lat_arrival);
    lng_arrival = parseFloat(lng_arrival);
    var departure = {'lat': lat_depart, 'lng': lng_depart};
    var arrival = {'lat': lat_arrival, 'lng': lng_arrival};
    var map = new google.maps.Map(document.getElementById('map'), {zoom: 12, center: departure});
    var directionsService = new google.maps.DirectionsService();
    var directionsDisplay = new google.maps.DirectionsRenderer();
    directionsDisplay.setMap(map);
    var request = {
    origin: departure,
    destination: arrival,
    travelMode: travel_mode,
    };
    directionsService.route(request, function(result, status) {
        if (status == 'OK') {
            directionsDisplay.setDirections(result);
        }
    });
};


</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAoozmkZ8_YSofc8Hb7nqnG3cWcJSlY6gQ&callback=initMap">
</script>

{% endblock %}